body {
    background: linear-gradient(45deg, #4facfe, #00f2fe);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
  }
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  



/* colour variables */
:root {
    --whiteText: #ffffff;
    --blackText: #000000;
}

/* Colour classes */
.whiteText {
    color: var(--whiteText);
}

.blackText {
    color: var(--blackText);
}

/* Body */
/* body {
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(114,9,121,1) 35%, rgba(0,129,255,1) 100%); 
} */

/* Form */
.formInput {
    margin: 10px;
}

/* Headings */


/* Input Cards */
.inputPage {
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 10px;
    height: 500px;
}

/* Pagination Classes */
.current {
    display: inline-block;
}

.hidden {
    display: none;
}